/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************************/
/* END RESET                                                                  */
/******************************************************************************/
@font-face {
    font-family: 'bpdotsunicasesquareregular';
    src: url('./assets/fonts/BPdotsUnicaseSquare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
}

html, body{
	height: 100%;
	margin: 0;
}
.dots {
    font-family: 'bpdotsunicasesquareregular', serif;
}

.main{
	background-color: #232627;
	height: 100%;
	margin: 0;
}

.spacer {
	height: 15%;
}
.calculator{
	width: 400px;
	height: 600px;
	border: 2px solid #7f8c8d;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #2854a6;
}

.screen{
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.display {
	display: inline-block;
	background-color: #7f8c8d;
	border-radius: 10px;
	width: 92%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content:flex-end;
	border: 1px solid #111;
}

.stored{
	margin: 5px 10px 0 0;
	font-size: 35px;
}
.output{
	margin: 0 10px 5px 0;
	font-size:50px;
	color: #161517;
}

.buttons{
	height: 80%;
}

.func-buttons{
	height:15%;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nums-ops{
	height: 85%;	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.button {
	display: inline-block;
	border: 2px solid #7f8c8d;
	box-sizing: border-box;
	border-radius: 10%;
	text-align: center;
	background-color: #31363b;
	color: #f3f1ed;
	font-family: Verdana, sans-serif;
	box-shadow: -2px 6px 3px 0 #111;
}

.button:active {
	transform: translateY(3px);
	box-shadow: -1px 2px 3px 0 #111;
}

.func-buttons .button {
	height: 60px;
	line-height: 60px;
	width: 150px;
	/* font-weight:700; */
	font-size:large;
}

.nums-ops .button {
	height: 80px;
	line-height: 85px;
	width: 85px;
	/* font-weight:700; */
	font-size:x-large;
}
